<div class="dashboard-statistics">

  <elastic-page-header [height]="'170px'" background="url(/assets/img/demo/headers/pattern-3.png)"
                  [reverse]="true"></elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs currentPage="Dashboard - Statistics" header="primary"></elastic-breadcrumbs>

    <div class="row" fxLayoutGap="20px">
      <ng-container *ngFor="let item of items;">
        <mat-card class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="width: 300px; height: 300px;">
          <mat-card-header>
            <mat-card-title>{{item.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image
               [routerLink]="['/character', item.id]"
               [src]="item.image">
        </mat-card>
      </ng-container>
    </div>

  </div>
</div>
